body{
    background-color: beige;
}

img{
    border-radius: 20%;
    height: 300px;
    width: 300px;
}
.container1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.border{
    border: 10px salmon solid;
}