body{
    background-color: beige;
}

img{
    border-radius: 20%;
    height: 300px;
    width: 300px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}